
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2E531D;
  font-size: 24px;
}

body {
  background: #FFE8E1;
}
.Countdown-timer {
  margin-top: 5vh;
}
.tomato-img {
  max-width: 100vw;
}

.container {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Countdown-time {
  white-space: nowrap;
  color: #FFFFFF;
  font-size: 96px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Button-start, .Button-stop {
  display: inline-block;
  justify-content: center;
  top:55%;
  position: absolute;
  background-color: Transparent;
  border-color: Transparent;
}
.setTime {
  font-size: 36px;
}
.container1{
 display: grid;
  grid-template-rows: 1fr auto;
}
.goal-setting {
  display: inline-flex;
  justify-content: center;

}
.adjustGoal {
  display: inline-table;
  text-align: center;
 padding:0  2em;
}

.goal-container {
  display: flex;
  align-items: center;
}

.container-adjustment {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.adjustTimeOutsideContainer {
  display: inline-table;
  justify-items: flex-end;
}

.adjustTime {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2em;
}

.adjustTimeContainer, .adjustGoalContainer {
  display: inline-block;
  margin: 10px;
}

@media (max-width: 320px) {

  .Countdown-time {
    font-size: 75px;
  }
  .setTime {
    font-size: 25px;
  }
  .adjustGoal {
    padding: 0.25em 1em;
  }
}
@media (min-width: 965px) {
  .Countdown-timer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    margin-top: 0;
  }

  .container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}